<ion-footer>
  <footer class="footer">
    <div class="footer-title">Síguenos en nuestras redes sociales</div>
    <div class="social-icon">
      <a class="social-icon__link" href="#">
        <i class="fab fa-facebook-f" aria-hidden="true"></i>
      </a>
      <a class="social-icon__link" href="#">
        <i class="fab fa-twitter" aria-hidden="true"></i>
      </a>
      <a class="social-icon__link" href="#">
        <i class="fab fa-linkedin" aria-hidden="true"></i>
      </a>
      <a class="social-icon__link" href="#">
        <i class="fab fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
    <p class="footer-text">&copy; 2024 Unicolombo | Todos los Derechos Reservados</p>
  </footer>
</ion-footer>