<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input formControlName="title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input formControlName="description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Due Date</ion-label>
    <ion-datetime display-format="YYYY-MM-DD" min="{{ today }}" formControlName="date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Done</ion-label>
    <ion-checkbox formControlName="done"></ion-checkbox>
  </ion-item>

  <ion-button expand="full" type="submit" [disabled]="taskForm.invalid || loading">
    {{ currentTaskId ? 'Update Task' : 'Create Task' }}
  </ion-button>

  <ion-spinner *ngIf="loading" slot="end" name="dots"></ion-spinner>
</form>

<ion-list>
  <ion-item *ngFor="let task of tasks">
    <ion-label>
      <h2>{{ task.title }}</h2>
      <p>{{ task.description }}</p>
      <p>Due Date: {{ task.date }}</p>
      <p>Status: {{ task.done ? 'Done' : 'Pending' }}</p>
    </ion-label>
    <ion-button slot="end" (click)="editTask(task)">Edit</ion-button>
    <ion-button slot="end" color="danger" (click)="confirmDeleteTask(task.id)">Delete</ion-button>
    <!-- Método de confirmación -->
  </ion-item>
</ion-list>