<ion-header>
  <ion-toolbar>
    <ion-title>Perfil del Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="assets/imgs/user-avatar.png" />
      </ion-avatar>
      <ion-card-title>Nombre del Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Email: usuario&#64;example.com</p>
      <p>Fecha de registro: 01/01/2024</p>
      <ion-button expand="full" color="danger">Cerrar Sesión</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
