<ion-app>
  <ion-split-pane>
    <ion-menu contentId="main-content" side="start" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="menu-content">
        <div class="user-info">
          <i class="fas fa-user-circle user-icon"></i>
          <!--<img src="path/to/your/image.jpg" alt="User Avatar" class="user-avatar" />-->
          <h2 class="user-name">Nombre del Usuario</h2>
        </div>
        <ion-list>
          <ion-item routerLink="/dashboard/stats" class="menu-item">My tasks</ion-item>
          <ion-item class="menu-item" (click)="logout()">Logout</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-split-pane>
</ion-app>