ion-menu {
    max-width: 250px;
    /* Establece un ancho máximo para el menú */
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Mantiene la altura del menú completa */
}

.user-info {
    text-align: center;
    /* Centra el texto dentro del div */
    margin-bottom: 20px;
    /* Espacio debajo del perfil */
}

.user-icon {
    margin-top: 30px;
    font-size: 64px;
    /* Ajusta el tamaño del icono según sea necesario */
    margin-bottom: 10px;
    /* Espacio debajo del icono */
    padding: 10px;
    /* Añade padding alrededor del icono */
    background-color: #f0f0f0;
    /* Color de fondo opcional */
    border-radius: 50%;
    /* Redondea el icono */
    transition: background-color 0.3s;
    /* Transición suave para el hover */
}

.user-icon:hover {
    background-color: #e0e0e0;
    /* Color al hacer hover */
}

h2.user-name {
    font-size: 20px;
    /* Ajusta el tamaño de la fuente */
    margin: 0;
    /* Elimina el margen por defecto */
}

ion-list {
    margin: 0;
    /* Elimina márgenes en la lista para un mejor ajuste */
}

.menu-item {
    transition: 0.2s all ease;
    cursor: pointer;
    /* Transiciones suaves para los elementos del menú */
}

.menu-item:hover {
    background-color: #000000;
    /* Color de fondo al hacer hover */
    color: #0db3d0;
    transform: scale(1.1);
    /* Color del texto al hacer hover */
}