<ion-app>
  <ion-split-pane>
    <ion-menu contentId="main-content" side="start" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="menu-content">
        <div class="user-info">
          <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen de perfil" class="profile-image" />
          <div>
            <h1>{{ user.name }}</h1>
          </div>
        </div>
        <ion-list>
          <ion-item  (click)="goToTasks()" class="menu-item">My tasks</ion-item>
          <ion-item class="menu-item" (click)="logout()">Logout</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-split-pane>
</ion-app>