<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/signup">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">

    <h1>Login</h1>
    <img src="assets/logo1.png">
  </div>

  <form id="form" (ngSubmit)="login()">
    <app-input [(ngModel)]="email" name="email" placeholder="Email"></app-input>
    <app-input [(ngModel)]="password" name="password" type="Password" placeholder="Password"></app-input>
    <ion-button expand="block" shape="round" type="submit">Login</ion-button>
  </form>
  
</ion-content>

