.app-header {
    background-color: #000 !important;
}

.app-header h2 {
    color: #28282B;
    /* Color del texto del logo */
}

.app-header-navbar ion-button {
    color: #000;
    /* Cambiar color de los enlaces a blanco */
}

.app-header-navbar ion-button:hover {
    color: #28282B;
    /* Cambiar color al pasar el mouse */
}