ion-split-pane {
    height: 100vh;
    /* Asegura que el split pane ocupe toda la altura de la ventana */
}

.main-container {
    display: flex;
    height: 100%;
    /* Asegura que el contenedor principal ocupe toda la altura disponible */
}

app-sidebar {
    width: 250px;
    /* Ajusta el ancho del sidebar */
    height: 100vh;
    /* Asegura que el sidebar ocupe toda la altura de la ventana */
}

.home-page-container {
    flex: 1;
    /* Esto hará que el contenedor del home ocupe el resto del espacio */
    padding: 20px;
    /* Agrega un poco de padding */
    background-color: #f8f9fa;
    /* Color de fondo opcional */
    height: 100%;
    /* Asegura que el contenedor ocupe toda la altura */
}

.home-page-content {
    margin-top: 20px;
    /* Margen superior para separación */
}